.profiles-list {
    @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}


.no-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}