.post {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }

    &:hover {
        transform: scale(1.035);
    }

    &__bottom-container {
        margin-top: 15%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            i {
                padding-left: 0.5rem;
                padding-top: 0.5rem;
            }
        }
    }

   &__title {
       font-size: 1.2rem;
   }

    &__text {
        color: red;
    }
}