.errors {
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    width: 450px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
    padding: 1rem 1.5rem;
    animation: fade 500ms ease-in-out;
    text-align: center;


    @media only screen and (max-width: 768px) {
        width: 295px; 
    }

    &__error {
        color: #555555;
        font-weight: bold;
    }

    @keyframes fade {
        0% {
            opacity: 0;
            transform: translateY(40px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    


}