.posts {
    animation: fade 500ms ease-in-out;
    // height: 100vh;
    margin: 0 18%;

    &__back-button-container {
        margin: 5% 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .back-button {
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-top: 2rem;
            }
        }

        #create-button {
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
        }
        
        .back-button,
        .create-button {
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
            color: #fff;
            background-color: #eb8555;
            font-weight: bold;
            transition: all 300ms ease-in-out;

            &:hover {
                transform: scale(1.035);
            }

            @media only screen and (max-width: 768px) {
                &:nth-child(1) {
                    margin-bottom: 1rem;
                    width: 100%
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }