.profile-posts {
    &__container {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 7px;
          }
      
        &::-webkit-scrollbar-track {
            background-color: #D7DADC;

        }
    
        &::-webkit-scrollbar-thumb {
            cursor: pointer;
            background-color: #555555;
        }

        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}