$red: #F6504C;
$red-hover: #d44442;

.post-detail {
  margin: 0 18%;
  animation: fade 500ms ease-in-out;

    &__back-button-container {
      margin: 5% 0;

      @media only screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
        display: flex;
      }

      .back-button {
        padding: 0.3rem 1.7rem;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        background-color: #eb8555;
        font-weight: bold;
        transition: all 300ms ease-in-out;
        text-decoration: none;
        &:hover {
            transform: scale(1.035);
        }

          @media only screen and (max-width: 768px) {
            width: 100%;
            padding: 0.8rem 1.7rem;
            text-align: center;
          }
      }
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // height: 90vh;

      @media only screen and (max-width: 768px) {
        margin: 0 10%; 
      }
    }

    &__personal-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;

      @media only screen and (max-width: 768px) {
        margin-bottom: 10%;
      }
      
      .personal-button {
        padding: 0.7rem 1.5rem;
        margin-right: 5%;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        background-color: #eb8555;
        font-weight: bold;
        transition: all 300ms ease-in-out;

        a {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          transform: scale(1.035);
        }
      }
    }

    &__card {
      border-radius: 0.3rem;
      width: 450px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      padding: 1rem 1.5rem;
      margin: 1.5% 0;

      @media only screen and (max-width: 768px) {
        width: 295px; 
      }   

      p {
        overflow-wrap: break-word;
      }

      .like-container {
        display: flex;
        justify-content: space-between;
        // margin: 3% 0;
        margin-top: 5%;

        div {
          button {
            background-color: #D7DADC;
            border: none;
            border-radius: 0.2rem;
            padding: 0.3rem;
            margin-left: 1rem;
            cursor: pointer;
            i {
              color: #1A1A1B;
            }
          }
        }

        
      }
    }
    
  &__modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: #000;
      padding: 1rem;
      width: 385px;
      background-color: #fff;
      border: none;
      outline: none;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      border-radius: 0.3rem;
      animation: fade-1 500ms ease-in-out;

      @media only screen and (max-width: 768px) {
        width: 250px
      }
      
      .modal-wrapper {
        h1 {
          font-size: 1.3rem;
        }

        p {
          margin-bottom: 1rem;
          font-size: 0.8rem;
        }

        .buttons-container {
          display: flex;
          justify-content: flex-end;
          .delete-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.3rem;
            color: #fff;
            background-color: $red;
            transition: background-color 300ms ease-in-out;
            font-weight: bold;

            &:hover {
              background-color: $red-hover;
            }
          }

          .cancel-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            margin-left: 0.7rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.3rem;
            color: #000;
            background-color: #fff;
            font-weight: bold;
            transition: background-color 300ms ease-in-out;

            &:hover {
              background-color: #D7DADC;
            }
          }
        }

      }
    }
}

.disabled {
  opacity: .8;
  cursor: no-drop !important;
  filter: contrast(.66);
  
  &:hover {
      transform: initial;
  }
}

@keyframes fade-1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }